<div class="feedback-wrapper">
  <div class="feedback-list">
    <div class="search-wrapper">
      <input class="feedback-search"
        type="search"
        placeholder="Search feedback"
        onkeyup={{action 'search'}}
      />
    </div>
    {{#each feedback as |f|}}
      <div class="feedback-content">
        <div class="header">
          <span class="rating {{if (gt f.rating 5) 'rating--positive' 'rating--negative'}}">
            {{f.rating}}
          </span>

          <span class="description">
            {{f.description}}
          </span>
        </div>
        <div class="tags-wrapper">
          {{customer-feedback/tags attributes=f.attributes}}
        </div>
        <div class="feedback-content--time">
          {{moment-from-now f.createdOn}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="feedback-sidebar">
    <div class="sentiment-chart">
      {{customer-feedback/sentiment-chart}}
    </div>
  </div>
</div>