<div class="feedback-wrapper">
  <div class="feedback-list">
    {{#each feedback as |f|}}
      <div class="feedback-content">
        <div class="header">
          <span class="rating {{if (gt f.rating 5) 'rating--positive' 'rating--negative'}}">
            {{f.rating}}
          </span>

          <span class="description">
            {{f.description}}
          </span>
        </div>
        <div class="tags-wrapper">
          {{customer-feedback/tags attributes=f.attributes}}
        </div>
        <div class="feedback-content--time">
          {{moment-from-now f.createdOn}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="feedback-sidebar">

  </div>
</div>